{% extends 'base.html.twig' %}

{% block body %}


        {% for message in app.flashes('success') %}
            <div class="container">
                <div class="alert alert-success mt-3">
                    {{ message }}
                </div>
            </div>
        {% endfor %}

    <div class="container mt-5">
        <h2>Wszystkie produkty:</h2>

        <div>
        <span class="me-4">Pokaż:</span>
        <a href="/"><span class="me-3">Wszystkie</span></a>
        <a href="/show/in-stock"><span class="me-3">Na składzie</span></a>
        <a href="/show/out-of-stock/"><span class="me-3">Brak na składzie</span></a>
        <a href="/show/more-than/"><span>Na składzie > 5</span></a>
        </div>
        <div class="table-responsive">
        <table class="mt-5 table table-hover ">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Ilość</th>
            </tr>
        </thead>
        <tbody>
        {% for product in content %}
            <tr>
            <th scope="row">{{ product.id }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.amount }}</td>
            {{ include('table_buttons.html.twig') }}
            </tr>
        {% endfor %}
        

        </tbody>
        </table>
    </div>

    <div class="mt-3"> 
        <a href="/add/"><button type="button" class="btn btn-outline-dark btn-lg">Dodaj nowy produkt</button></a>
     </div>
    </div>
{% endblock %}